* {
    margin: 0px;
    padding: 0px;
}

body {
  display: block;
}

.container {
    font-family: sans-serif;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

/*This section is for the left bar */

.Left-bar {
    background-color: #ce5a5a;
    height: 100vh;
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Left-bar h1{
    font-weight: 700;
    padding: 3%;
}

.Left-bar h4{
font-weight: 400;
padding: 3%;
}

/*This is the content section*/

.contents {
    margin-left: 2%;
    font-size: 1em;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

.contents hr {
    border-color: black;
}