* {
    margin: 0px;
    padding: 0px;
}

body {
  display: block;
}

.container {
    font-family: sans-serif;
    display: flex;
    flow-flow: row wrap;
    align-items: flex-start;
    box-sizing: border-box;
}

/*This section is for the left bar */
.Left-bar {
    background-color: #8edaf8;
    height: 100vh;
    text-align: center;
    positon: fixed ;
}

.Left-bar h1{
    font-weight: 700;
    padding: 3%;
}

.Left-bar h4{
font-weight: 400;
padding: 3%;
}

/*This is the content section*/
.contents {
    margin-left: 2%;
    font-size: 1em;
    align-self: flex-end;
}